body {
  background-color: #313131;
  font-family: sans-serif;
}

.lobster {
  font-family: 'Lobster', cursive, sans-serif;
}

button {
  padding: 10px 15px 10px 15px;
  font-size: larger;
  color: #cecece;
  background-color: #1f1f1f;
  border: none;
  border-bottom: 3px solid #636363;
  outline: 0;
  cursor: pointer;
  border-radius: 6px;
  margin: 0px 10px 0px 10px;
}

button:active {
  border-bottom: 0px;
}

a {
  color: chartreuse;
}